@charset "utf-8";
.box{
    width: 200px;
    height: 200px;
    background: red;
    border-radius: 20px;
}
::-webkit-input-placeholder{
    color: red;
    text-decoration: underline;
}
::-moz-placeholder{
    color: red;
    text-decoration: underline;
}
:-ms-input-placeholder{
    color: red;
    text-decoration: underline;
}
::-ms-input-placeholder{
    color: red;
    text-decoration: underline;
}
::placeholder{
    color: red;
    text-decoration: underline;
}